.landing {
  .white.band {
    background: url(/img/hero-bg.svg) no-repeat bottom left;
    background-size: 603px 377px;
    padding-bottom: $xxl;
    width: 100%;
    overflow: hidden;

    @media screen and (max-width: $tabletMax) {
      background-size: 75%;
    }
  }

  .hero {
    lost-align: center;

    @media screen and (min-width: $tablet) {
      margin-top: -$large;
    }

    h1 {
      text-align: center;

      @media screen and (min-width: $tablet) {
        lost-column: 13/24;
        text-align: left;
      }

      em {
        font-style: normal;
        color: $blue;
        display: block;
      }
    }

    .img {
      padding-top: $small;

      @media screen and (min-width: $tablet) {
        lost-column: 11/24;
      }

      img {
        height: auto;
        width: 100%;
        max-width: 508px;
      }
    }
  }

  .footprints.band {
    background: url(/img/footprints-bg.jpg) no-repeat center;
    background-size: cover;
    clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
    margin-top: -$xl;
  }

  .quote {
    lost-align: center;
    padding: $xl 0;

    @media screen and (min-width: $tablet) and (max-width: $desktopMax) {
      padding: $xl $small;
    }

    h1,
    blockquote {
      @media screen and (min-width: $desktop) {
        lost-column: 1/2;
      }
    }

    h1 {
      color: white;
      padding: 0 $small;
      margin: 0;
      text-align: center;

      @media screen and (min-width: $mobile) {
        padding: 0;
        text-align: left;
      }

      @media screen and (max-width: $tabletMax) {
        margin-left: $tiny;
      }

      @media screen and (min-width: $tablet) and (max-width: $desktopMax) {
        lost-column: 7/12;
      }

      span {
        @media screen and (min-width: $mobile) {
          &:first-child {
            letter-spacing: -0.3px;
          }
          &:last-child {
            letter-spacing: 4.2px;
          }
        }
      }

      em {
        font-style: normal;
        color: $yellow;

        @media screen and (min-width: $mobile) {
          display: block;
          letter-spacing: 8.5px;
          font-size: 80px;
          margin: 21px 0 12px 0;
        }
      }
    }

    blockquote {
      text-align: center;
      color: white;
      border-top: 1px solid rgba(255,255,255,0.5);
      border-bottom: 1px solid rgba(255,255,255,0.5);
      padding: 0;
      position: relative;
      max-width: calc(100% - 48px);
      margin: $medium 0 0 0;

      @media screen and (min-width: $mobile) {
        max-width: 400px;
      }

      @media screen and (min-width: $tablet) {
        margin: 0;
        max-width: initial;
      }

      @media screen and (min-width: $tablet) and (max-width: $desktopMax) {
        lost-column: 5/12;
      }


      img {
        background: #0f313f;
        position: absolute;
        padding: 0 $tiny;
        top: -$micro;
        left: calc(50% - 28.5px);
      }

      p {
        font-style: italic;
        line-height: $small;
        font-size: $tiny;
        font-weight: $light;
        padding: 0;
        margin: 26px 0 22px 0;
      }

      footer {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: -10px;
      }

      cite a {
        background: #0f2d36;
        font-family: $roboto;
        font-style: normal;
        font-weight: $regular;
        font-size: 14px;
        padding: 0 $tiny;
        text-decoration: none;
        color: white;
      }
    }
  }

  .blue.band {
    background: $blue url(/img/blue-bg-top.svg) no-repeat top right;
    background-size: 75%;
    padding: $xxl 0 0 0;
    margin-top: -$large;

    @media screen and (min-width: $tablet) {
      background-size: 603px 377px;
      margin-top: -$medium;
    }
  }

  .features {
    color: white;

    h2 {
      margin: 0 0 $tiny 0;
      padding: 0;

      span {
        color: $yellow;
      }
    }

    p {
      margin: 0;
      padding: 0;
      opacity: .8;
      line-height: $small;
      letter-spacing: -0.4px;
    }

    article {
      width: 100%;
      text-align: center;

      @media screen and (min-width: $tablet) {
        lost-align: center;
        width: initial;
        text-align: left;
      }

      &:not(:last-child) {
        margin-bottom: $medium;
      }

      &:nth-child(2) {
        .copy {
          @media screen and (min-width: $desktop) {
            lost-offset: 1/6;
          }
        }

        img {
          @media screen and (min-width: $tablet) {
            lost-offset: 1/12;
          }

          &.mobile {
            display: initial;

            @media screen and (min-width: $tablet) {
              display: none;
            }
          }

          &.desktop {
            display: none;

            @media screen and (min-width: $tablet) {
              display: initial;
            }
          }
        }
      }

      img {
        max-width: calc(100% - 48px);

        @media screen and (min-width: $tablet) {
          max-width: initial;
          lost-column: 1/3;
        }
      }

      .copy {
        max-width: 100%;
        margin: 0 auto;
        padding: 0;

        @media screen and (min-width: $mobile) {
          max-width: 340px;
        }

        @media screen and (min-width: $tablet) {
          margin: initial;
          padding: initial;
          max-width: 100%;
          lost-column: 1/2;
          lost-offset: 1/12;
        }
      }
    }
  }

  .bottom-cta {
    background: url(/img/blue-cta-bg.svg) no-repeat bottom center;
    background-size: 768px;
    padding: $xl 0 $xl 0;
    text-align: center;
    color: white;

    @media screen and (min-width: $mobile) {
      padding-bottom: $xxl;
    }

    @media screen and (min-width: $tablet) {
      background-size: 100%;
    }

    h1 {
      margin: 0 0 $small 0;

      em {
        color: $yellow;
        display: block;
        font-style: normal;

        @media screen and (min-width: $mobile) {
          display: inline;
        }
      }
    }
  }
}
